<span [ngStyle]="{'direction': ls.direction()}">
  <ion-header>
    <ion-navbar>
      <ion-title>{{ls.translate('Khatm')}}</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding *ngIf="!isSubmitted && isNew">
    <ion-list>
      <ion-item-divider color="light">General Specification</ion-item-divider>
      <ion-item>
        <ion-label fixed>{{ls.translate('Title')}}</ion-label>
        <ion-input type="text" [(ngModel)]="name" (ngModelChange)="checkDisability()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ls.translate('Description')}}</ion-label>
        <ion-textarea [(ngModel)]="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate("Show owner's details to others")}}</ion-label>
        <ion-checkbox [(ngModel)]="ownerShown"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Range')}}</ion-label>
        <ion-select [(ngModel)]="range">
          <ion-option value="whole">{{ls.translate('Whole Quran')}}</ion-option>
          <ion-option value="sura">{{ls.translate('Specific Sura')}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="range === 'sura'">
        <ion-label>{{ls.translate('Sura')}}</ion-label>
        <ion-select [(ngModel)]="suraNumber">
          <ion-option *ngFor="let sura of suras" [value]="sura.number">{{sura.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Repeat')}}</ion-label>
        <ion-input type="number" min="1" [(ngModel)]="repeats"
                   [ngClass]="[oppositeDirection()]"></ion-input>
      </ion-item>
      <ion-item-divider color="light">Date Specification</ion-item-divider>
      <ion-item>
        <ion-label>{{ls.translate('Start Date')}}</ion-label>
        <ion-datetime [min]="currentDate.getFullYear()"
                      [max]="currentDate.getFullYear() + 1"
                      displayFormat="DD/MMM/YYYY" [(ngModel)]="startDate"
                      (ngModelChange)="changeDuration('start')"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Duration')}}</ion-label>
        <ion-input type="number" min="1" [(ngModel)]="duration"
                   [ngClass]="[oppositeDirection()]"
                   (ngModelChange)="changeDuration('duration')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('End Date')}}</ion-label>
        <ion-datetime [min]="currentDate.getFullYear()"
                      [max]="currentDate.getFullYear() + 10"
                      displayFormat="DD/MMM/YYYY" [(ngModel)]="endDate"
                      (ngModelChange)="changeDuration('end')"></ion-datetime>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="submit()" [disabled]="submitDisability">
      {{ls.translate('Submit')}}
    </button>
  </ion-content>
  <ion-content padding *ngIf="isSubmitted && isNew">
    <ion-list>
      <ion-item>
        <ion-label>{{ls.translate('Title')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Description')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{description}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Range')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{rangeDisplay}}</ion-label>
      </ion-item>
      <ion-item *ngIf="range === 'sura'">
        <ion-label>{{ls.translate('Sura')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{quranService.getSura(suraNumber).name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Repeatts')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{repeats}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('Start Date')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{startDateDisplay}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ls.translate('End Date')}}: </ion-label>
        <ion-label [ngStyle]="{'text-align': oppositeDirection()}">{{endDateDisplay}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block (click)="create()">{{ls.translate('Create Khatm')}}</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="isSubmitted = false">{{ls.translate('Edit')}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content padding *ngIf="!isNew">
    <ion-list>
      <ion-list-header>{{ls.translate('Khatm information')}}</ion-list-header>
      <ion-item>
        <h2>{{ls.translate('Name')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.khatm_name}}</p>
      </ion-item>
      <ion-item *ngIf="khatm.creator_shown">
        <h2>{{ls.translate('Owner')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.owner_name}}</p>
      </ion-item>
      <ion-item>
        <h2>{{ls.translate('Description')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.description}}</p>
      </ion-item>
      <ion-item>
        <h2>{{ls.translate('Read pages')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.read_pages}}</p>
      </ion-item>
      <ion-item>
        <h2>{{ls.translate('Participating numbers')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.participatings}}</p>
      </ion-item>
      <ion-item>
        <h2>{{ls.translate('End Date')}}: </h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{endDateDisplay}}</p>
      </ion-item>
      <ion-item>
        <h2>{{ls.translate('Rest Days')}}</h2>
        <p [ngStyle]="{'text-align': oppositeDirection()}">{{khatm.rest_days}}</p>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row *ngIf="khatmIsStarted">
        <ion-col col6>
          <button ion-button block (click)="copyLink()">Copy Link</button>
        </ion-col>
        <ion-col col6>
          <button ion-button block (click)="shareVia()">Share Via</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="navCtrl.popToRoot()">Close</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</span>