<span [ngStyle]="{'direction':ls.direction()}">
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button menuClose *ngIf="!isLoggedIn" block (click)="openPage('register')">{{ls.translate('Register')}}</button>
        <button ion-button menuClose *ngIf="isLoggedIn" block (click)="logout()">{{ls.translate('Logout')}}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button menuClose *ngIf="isLoggedIn" block (click)="openPage('khatm')">{{ls.translate('Profile')}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</span>
