right-menu {
  .active_night{
    background-color: #b0c1e7;
  }

  .active_normal{
    background-color: #c5bfb1;
  }

  .right-menu-icon-buttons span {
    font-size: 130% !important;
    padding-right: 10px !important;
    margin-left: 8px !important;
  }
}
