<span [ngStyle]="{'direction':ls.direction()}">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button menuClose *ngIf="!isLoggedIn" block (click)="openPage('register')">{{ls.translate('Register')}}</button>
          <button ion-button menuClose *ngIf="isLoggedIn" block (click)="logout()">{{ls.translate('Logout')}}</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button menuClose *ngIf="isLoggedIn" block (click)="openPage('khatm')">{{ls.translate('Create Khatm')}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <ion-list *ngIf="isLoggedIn && khatms.length > 0">
      <ion-list-header>{{ls.translate('My Khatms')}}</ion-list-header>
      <button *ngFor="let khatm of khatms" ion-item
              (press)="start_stop_khatm(khatm)" (click)="openPage('khatm', khatm)"
              [ngClass]="{active: khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid}">
        {{khatm.khatm_name}}
      </button>
    </ion-list>
  </ion-content>
</span>
