right-menu {
  .active_night{
    background-color: #b0c1e7;
  }

  .active_normal{
    background-color: #c5bfb1;
  }
  
  .khatm-title{
    padding: 10px 12px !important;
    font-size: 180% !important;
    height: auto !important;
  }
  .item-md .item-button[icon-only] ion-icon {
    font-size:120%;
  }
}
