<table class="bismillahtable" [ngStyle]="{'margin-bottom': margin + 'px'}">
  <tr class="bismillahrow">
    <td class="bismillahcol-1-3" [ngClass]="[nightMode ? 'night-pic-address-col-1-3':'day-pic-address-col-1-3']">
      <table class="bismillahrow">
        <tr class="fontinit">
          <td class="topayat">آياتها</td>
        </tr>
        <tr class="fontinit">
          <td class="downayat">
            {{suraAyaNumber.toLocaleString('ar')}}
          </td>
        </tr>
      </table>
    </td>
    <td class="bismillahcol2"  [ngClass]="[nightMode ? 'night-pic-address-col2':'day-pic-address-col2']"> سورة {{suraArabicName}}</td>
    <td class="bismillahcol-1-3" [ngClass]="[nightMode ? 'night-pic-address-col-1-3':'day-pic-address-col-1-3']">
      <table class="bismillahrow">
        <tr class="fontinit">
          <td class="toptanzil" [class.pic-makki-day]=(imgflag)&&(!nightMode)
              [class.pic-makki-night]=(imgflag)&&(nightMode) [class.pic-madani-day]=(!imgflag)&&(!nightMode)
              [class.pic-madani-night]=(!imgflag)&&(nightMode)></td>
        </tr>
        <tr class="fontinit">
          <td class="downtanzil">
            <span style="position:relative; display:inline-block; bottom:20px;font-size:75%">{{suraTanzilLocation}}</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="bismillah">{{value.text}}</div>
