<div class="pageInfo" [ngStyle]="{'top': (platform.is('ios')?20:0)+ 'px'}">
  <table class="outer-table">
    <tr class="outer-row"
        [ngStyle]="{'background':stylingService.nightMode?'#131313':'#fbfaf8','color':!stylingService.nightMode?'black':'white'}">
      <td class="tdBack">
        <ion-buttons start>
          <button ion-button [color]="!stylingService.nightMode?'light':'dark'" icon-only menuToggle="right" (click)="menuToggle()">
            <ion-icon name="menu" [color]="!stylingService.nightMode?'normal_primary':'night_primary'"></ion-icon>
          </button>
        </ion-buttons>
      </td>
      <td style="width:70%">
        <hashia [suraname]="suraName?suraName:''" [pagenumber]="quranPage"
                [suraorder]="suraOrder?suraOrder:NaN" [disabled]="khatmActive"></hashia>
      </td>
      <td class="tdBack">
        <ion-buttons end>
          <button ion-button [color]="!stylingService.nightMode?'light':'dark'" icon-only menuToggle="left" (click)="menuToggle()">
            <ion-icon name="settings" [color]="!stylingService.nightMode?'normal_primary':'night_primary'"></ion-icon>
          </button>
        </ion-buttons>
      </td>
  </table>
</div>
<ion-content class="overflowContainer"
             [ngStyle]="{'width':width,'height':height-50+'px','top':(platform.is('ios')?70:50)+ 'px','background':stylingService.nightMode? '#131313':'#fbfaf8','border':this.khatmActive?'solid green 2px':null}"
             #scrollPage (ionScroll)="onScroll($event)">
  <span *ngFor='let page of selectedPages;let i=index'>
    <span *ngIf="shownPages[i]">
    <div *ngIf="repeat[page]>1" [ngClass]="i?'repeatCounter':'repeatCounterFirst'">{{repeatIndex[i]}} / {{repeat[page]}}</div>
      <div [class.border-day]="!stylingService.nightMode" [class.border-night]="stylingService.nightMode"
         [ngStyle]="{'width':(pageWidth-10)+'px','font-size':zoom+'%'}" (swipe)="swipe($event)" (pinch)="pinch($event)"
         #border [id]="i">

      <div class="internal quran" [ngClass]="[fontFamily+'Font']"
           [ngStyle]="{'margin':margin + 'px','font-family':fontFamily}">
        <aya *ngFor="let aya of pageAyas[page]" [value]="aya" [fontFamily]="fontFamily" [margin]="margin" (onselect)="onAyaSelected($event)" [selected]="aya.sura===selectedAya.sura && aya.aya==selectedAya.aya"></aya>
      </div>
    </div>
    <hr [class.khatmActive]="khatmActive" [class.regular]="!khatmActive">
    </span>
  </span>
  <div [ngStyle]="{'height':height+'px'}">&nbsp;</div>
</ion-content>
