<div *ngIf="value.bismillah" class="bismillah" #bism>
  <bismillah [value]="value" [margin]="margin"></bismillah>
</div>
<span *ngIf="value.aya && !value.bismillah" (tap)="selectAya()" [style.backgroundColor]="selected?playing?'rgba(255,255,0,.2)':'rgba(0,0,255,.2)':''">
  <alama *ngIf="sectionCheck(value)"
         [sign]="'&#x06DE;'"
         [tooltipMessage]="sectionCheck(value)"
         [hizbNumber]="hizbJuzNumberCheck(value).qhizbNum"
  ></alama>
  {{value.text}}
  <alama *ngIf = "sajdaCheck(value)"
         [sign] = "'&#x06E9;'"
         [tooltipMessage] = "sajdaCheck(value)"
  ></alama>
  <shomara
         [ayanumber]="value.aya"
         [fontFamily]="fontFamily"
         [reverse]="false"
  ></shomara>
</span>
