// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
  font-family: 'quran';
  src: url('../assets/Scheherazade-Regular.ttf')
}
@font-face{
  font-family: 'quran-uthmanic-bold';
  src: url('../assets/UthmanTN1B Ver10.otf')
}
@font-face{
  font-family: 'quran-uthmanic';
  src: url('../assets/UthmanicHafs1 Ver09.otf')
}
@font-face{
  font-family: 'qalam';
  src: url('../assets/Al Qalam Quran Majeed 2.ttf')
}

@font-face {
  font-family: 'me-quran';
  src: url('../assets/me_quran_volt_newmet.ttf')
}

.night_background{
  background-color: #131313;
}

.night_text{
  color: #898f8d;
}

.night_primary{
  background-color: #95506f;
}

.night_secondary{
  background-color: #7b87ad;
}

.normal_background{
  background-color: #fbfaf8;
}

.normal_text{
  color: #494949;
}

.normal_primary{
  background-color: #7ec5a5;
}

.normal_secondary{
  background-color: #c5bfb1;
}