// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
  font-family: 'quran';
  src: url('../assets/Scheherazade-Regular.ttf')
}
@font-face{
  font-family: 'quran-uthmanic-bold';
  src: url('../assets/UthmanTN1B Ver10.otf')
}
@font-face{
  font-family: 'quran-uthmanic';
  src: url('../assets/UthmanicHafs1 Ver09.otf')
}
@font-face{
  font-family: 'qalam';
  src: url('../assets/Al Qalam Quran Majeed 2.ttf')
}

@font-face {
  font-family: 'me-quran';
  src: url('../assets/me_quran_volt_newmet.ttf')
}

.button-ios {
  margin: 0px !important;
}

.day-pic-address-col-1-3{
  background-image: url(../assets/AyatBoxNormal.svg);
}

.night-pic-address-col-1-3{
  background-image: url(../assets/AyatBoxNight.svg);
}


.bismillahcol-1-3{
  width:15%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85% 70%;
}

.fontinit{
  font-family: quran;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.day-pic-address-col2{
  background-image: url(../assets/SuraNameBoxNormal.svg);
}
.night-pic-address-col2{
  background-image: url(../assets/SuraNameBoxNight.svg);
}
.topayat{
  line-height:100%;
  padding:47px 0px 0px 0px;
  font-size:75%;
}
.downayat{
  line-height:100%;
  padding:0px 0px 40px 0px;
}
.toptanzil{
  line-height:100%;
}
.downtanzil{
  line-height:100%;
}
.bismillahcol2{
  width:70%;
  height: 100%;
  text-align:center;
  font-family: quran;
  font-size: 80%;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 75%;
}

.pic-makki-day{
  background-image: url(../assets/MakkiFillNormal.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 35%;
  padding-top:20px;
}
.pic-makki-night{
  background-image: url(../assets/MakkiFillNight.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 35%;
  padding-top:20px;
}


.pic-madani-day{
  background-image: url(../assets/MadaniFillGreenNormal.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 35%;
  padding-top:10px;
}

.pic-madani-night {
  background-image: url(../assets/MadaniFillNight.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 35%;
  padding-top: 20px;
}

.pic-makki-day{
  background-image: url(../assets/MakkiFillNormal.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 35%;
  padding-top:20px;
}


.day-pic-address{
  background-image: url(../assets/PageNumberBoxNormal.svg);
}

.night-pic-address{
  background-image: url(../assets/PageNumberBoxNight.svg);
}

div.border-day{
  //width: 650px;
  //height: 866px;
  border-image-source:  url(../assets/KadrNormal.svg);
  border-image-repeat: repeat;
  border-width: 80px;
  border-style: solid;
  border-image-slice: 100;
  margin:5px;
  background-color: #ffffff !important;
  color:black;
}

div.border-night{
  // width: 650px;
  //height: 866px;
  border-image-source: url(../assets/KadrNight.svg);
  border-image-repeat: repeat;
  border-width: 80px;
  border-style: solid;
  border-image-slice: 100;
  margin:5px;
  background-color: #000000 !important;
  color:white;
}

.night_background{
  background-color: #131313;
}

.night_text{
  color: #898f8d;
}

.night_primary{
  background-color: #95506f;
}

.night_secondary{
  background-color: #7b87ad;
}

.normal_background{
  background-color: #fbfaf8;
}

.normal_text{
  color: #494949;
}

.normal_primary{
  background-color: #7ec5a5;
}

.normal_secondary{
  background-color: #c5bfb1;
}
.alamaToast{
  direction:rtl;
  text-align:center;
}
.select-popover ion-list {
  direction: rtl !important;
}
.select-text{
  mins-width:0px;
  width:0px;
  text-overflow:none;
}
ion-select{
  width:0px;
}

.ios .menu-inner {
  top: 20px;
}
.header{
  position:relative !important;
}
.msg_rtl{
  direction:rtl
}
.msg_ltr{
  direction:ltr
}
.toolbar-ios {
  padding-top:24px;
}
.fa{
  min-height: 2.8rem;
  font-size: 2.4rem;
  line-height: 1;
}

.item-label-stacked ion-label, .item-label-floating ion-label
{
  margin-right:0px !important;
  align-self: flex-start;
}
/*
.action-sheet .action-sheet-button:last-child{
  font-family: 'quran' !important;
  font-size: 1.3em !important;
}

.action-sheet .action-sheet-button{
  font-family: 'quran' !important;
  font-size: 1.3em !important;
}
*/
.night_mode .action-sheet-button:last-child{
  background-color: #474747 !important;
  color: #b0b6b4;
}

.night_mode .action-sheet-button{
  background-color: #474747 !important;
  color: #b0b6b4;
}

.night_mode .action-sheet-title{
  background-color: #323232 !important;
  color: #b0b6b4;
}

.day_mode .action-sheet-button:last-child{
  background-color: #fbfaf8 !important;
  color: blue;
}

.day_mode .action-sheet-button{
  background-color: #fbfaf8 !important;
  color: blue;
}

.persian .back-button-icon{
  -moz-transform: scale(-1, -1) !important;
  -o-transform: scale(-1, -1) !important;
  -webkit-transform: scale(-1, -1) !important;
  transform: scale(-1, -1) !important;
  margin: 5px !important;
}

.night_mode .back-button-icon{
  color: #95506f !important;
}

.day_mode .back-button-icon{
  color: #7ec5a5 !important;
}

.night_mode .back-button-text{
  color: #95506f !important;
}

.day_mode .back-button-text{
  color: #7ec5a5 !important;
}

.night_mode .toolbar-title{
  color: #95506f !important;
}

.night_mode .toolbar{
  background-color: #323232 !important;
}

.waiting{
  font-family: 'quran';
  font-size: 1.2em;
}

.night_mode .loading-wrapper{
  background-color: #323232 !important;
  color: #b0b6b4;
}

.alert-title{
  font-family: 'quran';
  font-size: 1.4em;
}

.alert-message{
  font-family: 'quran';
  font-size: 1.3em;
}

.day_mode .loading-wrapper{
  background-color: #fbfaf8 !important;
  color: black;
}

.night_mode .alert-head{
  background-color: #323232 !important;
  color: #b0b6b4;
}

.night_mode .alert-message{
  background-color: #323232 !important;
  color: #b0b6b4;
}

.night_mode .alert-button{
  background-color: #323232 !important;
}

.night_mode .alert-button span{
  color: #b0b6b4;
}

.night_mode .popover-arrow::after{
  background-color: #323232 !important;
}

.night_mode ion-icon{
  float: left !important;
}

.night_mode .popover-content{
  background-color: #323232 !important;
}

.day_mode .popover-content{
  background-color: #fbfaf8 !important;
}

