<span [ngStyle]="{'direction':ls.direction()}">
  <ion-header>
    <ion-toolbar>
      <ion-title [style.background-color]="stylingService.nightMode ? '#131313' : '#fbfaf8' ">
        <ion-label [color]="stylingService.conditionalColoring.text" style="font-family: 'quran'">
          {{ls.translate('Settings')}}
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [style.background-color]="stylingService.nightMode ? '#131313' : '#fbfaf8' ">
    <ion-list>
      <button ion-item detail-none (click)="changeLanguage()" [color]="stylingService.conditionalColoring.background">
        <i class="fa fa-language" aria-hidden="true" item-left></i>
        <ion-label [color]="stylingService.conditionalColoring.text">Change App Language</ion-label>
      </button>
      <button ion-item detail-none (click)="nightMode()" [color]="stylingService.conditionalColoring.background">
        <ion-icon [name]="stylingService.nightMode ? 'sunny' : 'moon'" item-left [color]="stylingService.conditionalColoring.text"></ion-icon>
        <ion-label [color]="stylingService.conditionalColoring.text">
          {{stylingService.nightMode?ls.translate('Day Mode'):ls.translate('Night Mode')}}
        </ion-label>
      </button>
      <button ion-item detail-none (click)="zoomIn()" [color]="stylingService.conditionalColoring.background">
        <ion-icon name="add-circle" item-left [color]="stylingService.conditionalColoring.text"></ion-icon>
        <ion-label [color]="stylingService.conditionalColoring.text">
          {{ls.translate('Zoom In')}}
        </ion-label>
      </button>
      <button ion-item detail-none (click)="zoomOut()" [color]="stylingService.conditionalColoring.background">
        <ion-icon name="remove-circle" item-left [color]="stylingService.conditionalColoring.text"></ion-icon>
        <ion-label [color]="stylingService.conditionalColoring.text">
          {{ls.translate('Zoom Out')}}
        </ion-label>
      </button>
      <button ion-item detail-none (click)="changeFont()" [color]="stylingService.conditionalColoring.background">
        <ion-icon name="information-circle" item-left [color]="stylingService.conditionalColoring.text"></ion-icon>
        <ion-label [color]="stylingService.conditionalColoring.text">
          {{ls.translate('Change Quran Font')}}
        </ion-label>
      </button>
      <ion-item [color]="stylingService.conditionalColoring.background">
        <div [ngStyle]="{'font-size': zoom + '%', 'text-align': 'center', 'font-family': fontFamily, 'direction':'rtl'}">
          <aya [fontFamily]="fontFamily" [margin]="2" [value]="sampleChangingFont"></aya>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</span>

