left-menu {

  .select-text {
    opacity:0
  }
  .select-icon{
    opacity:0;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color:black;
  }
  .info-column1 .item{
    text-align:right;
  }
  .item-inner{
    margin-left:24px;
  }
}
