<table class="info-table" [ngClass]="[stylingService.nightMode ? 'info-night':'info-day']">
  <tr class="info-row">
    <td class="info-column1 right-left-text">
      <ion-item [color]="conditionalColoring.background" style="text-align:left" (click)="changeSura($event)">
        <ion-label>{{suraorderAr}}. {{suraname}}</ion-label>
      </ion-item>
    </td>
    <td class="info-column2">
      <span *ngIf="!pageNumberToggled" (click)="pageNumberToggle()"
            [ngClass]="[stylingService.nightMode ? 'night-pic-address':'day-pic-address']"
            class="center-text pic pagenum">{{pagenumberAr}}</span>
      <ion-item *ngIf="pageNumberToggled">
        <ion-input type="number" [(ngModel)]="selectedPage"
                   (keyup)="keyup($event)" (blur)="pageNumberToggle(false)" clearOnEdit="true"></ion-input>
      </ion-item>
    </td>
    <td class="info-column3 right-left-text">
      <ion-item [color]="conditionalColoring.background" style="text-align: right" (click)="changeJuz($event)">
        <ion-label>جزء {{pageJuzNumberAr}}</ion-label>
      </ion-item>
    </td>
  </tr>
</table>
