<table class="info-table" [ngClass]="[stylingService.nightMode ? 'info-night':'info-day']">
  <tr class="info-row">
    <td class="info-column1 right-left-text">
      <ion-item [ngStyle]="{'background': stylingService.nightMode ? 'black':'white'}">
        <ion-label [ngStyle]="{'color': stylingService.nightMode ? 'white':'black'}" style="text-align:left">{{suraorderAr}}. {{suraname}}</ion-label>
        <ion-select [disabled]="disabled" [(ngModel)]="selectedSura" interface="popover" (ngModelChange)="changeSura()">
          <ion-option *ngFor="let sura of suras" [value]="sura.number" [selected]="sura.number===suraorder">{{sura.numberAr}}. {{sura.name}}</ion-option>
        </ion-select>
      </ion-item>
    </td>
    <td class="info-column2">
      <span *ngIf="!pageNumberToggled" (click)="pageNumberToggle()"
            [ngClass]="[stylingService.nightMode ? 'night-pic-address':'day-pic-address']"
            class="center-text pic pagenum">{{pagenumberAr}}</span>
      <ion-item *ngIf="pageNumberToggled">
        <ion-input type="number" [(ngModel)]="selectedPage"
                   (keyup)="keyup($event)" (blur)="pageNumberToggle(false)" clearOnEdit="true"></ion-input>
      </ion-item>
    </td>
    <td class="info-column3 right-left-text">
      <ion-item [ngStyle]="{'background': stylingService.nightMode ? 'black':'white'}">
        <ion-label [ngStyle]="{'color': stylingService.nightMode ? 'white':'black'}">جزء {{pageJuzNumberAr}}</ion-label>
        <ion-select [disabled]="disabled" [(ngModel)]="selectedJuz" interface="popover" (ngModelChange)="changeJuz()">
          <ion-option *ngFor="let juz of juzes" [value]="juz.number" [selected]="juz.number===pageJuzNumber">جزء {{juz.numberAr}}</ion-option>
        </ion-select>
      </ion-item>
    </td>
  </tr>
</table>
