hashia {
  .info-table{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 150%;
  }
  .info-day {
    background-color: white;
    color:black;
  }
  .info-night {
    background-color: black;
    color:white
  }
  .info-row{
    width: 100%;
    height: 100%;
    border: none;
  }

  .info-column1{
    width: 40%;
    font-family: "quran";
    text-align: left;
    border: none;
    padding-bottom:10px;
    padding-left:10px;
    text-align:left;
  }

  .info-column2{
    height: 100%;
    width: 20%;
    font-family: "quran";
    border: none;
  }

  .pic{
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 3px;
  }
  .center-text{
    display: inline-block;
    width: 100%;
    margin-top: -4px;
    text-align: center;
  }
  .pagenum{
    margin-right: 1px;
    font-weight: bold;
    font-size: 22pt;
    vertical-align: top;
    padding: 3px 12px 20px 12px;
    line-height: 100%;
  }

  .info-column3{
    width: 40%;
    font-family: "quran";
    text-align: right;
    border: none;
    padding-bottom:10px;
    padding-right:10px;
  }


  .right-left-text{
    font-weight: bolder;
    vertical-align: bottom;
    white-space: nowrap;
  }

  .select-ios .select-icon{
    width:100%;
    padding:0px;
  }

  .select-ios{
    padding:0px;
  }

  .label-ios{
    margin:0;
    padding:0;
  }

  .item-ios{
    font-size:100%;
    padding:0;

  }

  .item-ios.item-block .item-inner {
    border-bottom:0;
  }

  //
  .select-md .select-icon{
    width:100%;
    padding:0px;
  }

  .select-md{
    padding:0px;
  }

  .label-md{
    margin:0;
    padding:0;
  }

  .item-md{
    font-size:100%;
    padding:0;

  }

  .item-md.item-block .item-inner {
    border-bottom:0;
  }

  .select-md >> .select-text {
    min-width:0
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color:black;
  }
  .info-column1 .item{
    text-align:right;
  }
}
